@mixin generar-flex {
  display: flex;
}

@mixin formato-flex {
  justify-content: center;
  gap: 10px;
}

@mixin tarjeta-simple($color, $letra, $radio) {
  background-color: $color;
  color: $letra;
  border-radius: $radio;
  padding: 10px;
  margin: 5px;
}
